<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <p><b>Brand:</b> Fiat</p>
      </div>
      <div class="col-md-6">
        <p><b>Imported at:</b> 02/12/2017</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p><b>Model:</b> Argo</p>
      </div>
      <div class="col-md-6">
        <p><b>Status:</b> Success</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p><b>Info:</b> The file was imported successfully!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-success" title="Download final file">
          <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</div>
