<div class="panel panel-default">
  <div class="panel-heading">Quick info</div>
  <div class="panel-body">
    <div class="title">Spreadsheet pattern for Fiat</div>
    <p><i>AC_CODE;AC_DESC;AC_NAME;AC_PRICE;AC_INSTALLMENT_TYPE;AC_INSTALLMENT_PRICE;AC_VERSION;AC_ORDER</i></p>
    <div class="title">Spreadsheet pattern for Jeep</div>
    <p><i>AC_CODE;AC_DESC;AC_NAME;AC_PRICE;AC_INSTALLMENT_TYPE;AC_INSTALLMENT_PRICE;AC_VERSION;AC_ORDER;AC_TYPE</i></p>
    <hr>
    <div class="title">Attributes description:</div>
    <ul>
      <li><b>AC_CODE:</b> The unique code of the accessory. <i>E.g. 50928103</i></li>
      <li><b>AC_DESC:</b> The description of the accessory. <i>E.g. É o acessório certo para quem busca uma maneira exclusiva de se destacar dos demais, garantindo um design mais esportivo.</i></li>
      <li><b>AC_NAME:</b> The accessory's name. <i>E.g. ENVELOPAMENTO DE TETO</i></li>
      <li><b>AC_PRICE:</b> The total price of the accessory (using dot instead of comma). <i>E.g. 972.00</i></li>
      <li><b>AC_INSTALLMENT_TYPE:</b> The type of installment. <i>E.g. 4x de</i></li>
      <li><b>AC_INSTALLMENT_PRICE:</b> The installment unity price. <i>E.g. 243.00</i></li>
      <li><b>AC_VERSION:</b> The version of which the accessory belongs. <i>E.g. A4N0</i></li>
      <li><b>AC_ORDER:</b> The order in which the accessory is going to appear in the list. <i>E.g. 5</i></li>
      <li><b>AC_TYPE:</b> The assossiative type name of the accessory. <i>E.g. EXTERIOR</i></li>
    </ul>
  </div>
</div>
